<nav class="d-flex justify-content-center navbar sticky-top navbar-expand-lg navbar-dark bg-dark"style="height:6rem">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        EbanK
        <!-- <img src="/images/logo.png" alt="" width="75" height="75"> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mx-auto mb-lg-0" style="font-size: 1.4rem;">
          <li class="nav-item mx-3">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/courses">Courses</a>
          </li> -->
          <li class="nav-item mx-3">
            <a class="nav-link" href="/transfer">Transfer Money</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link " href="/customers">Customers</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link " href="/transfersuccessfull">Transaction History</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>